<!DOCTYPE HTML>

<HTML>

<TITLE>
CRINGY CRIMMER
</TITLE>

<BODY>

<style>
a {
  color: hotpink;
  text-decoration: none;}
</style>

<H3>
This Site Is Currently In Development
<Pre>


___    .-"""-.    ___                           _______________________________
\  \  /\ \ \ \\  /  /                         ／                                \
 }  \/\ \ \ \ \\/  {                          |<a href="https://rb.gy/hcw5np">Click Here To Check Out My Games </a>|
 }  /\ \ \ \ \ /\  {                          ＼________________________________/
/__/  \ \ \ \ /  \__\                              \/
       '-...-'                                     /
Here's A Candy For Now                 .-""-.     /
                                      /  {}  \   /
                                      | ____.|  /
                                      \/^)^ \/ /
                                       \ =  /
                                  .---./`--`\.--._
                                 /     `;--'`     \
                                ;        /`       ;
                                |       |*        |
                                /   |   |      |   \
                                |    \  |*    /    |
                                \_   |\_|____/|  __/
                                  \__//======\\__/
                                  / //_      _\\ \
                                  -'  |`""""`|  `-
                                      |      |
                                      >_ || _<
                                      |  ||  |
                                      |  ||  |
                                     /   ||   \
                                    /    /,    \
                                     `|"|`"|"|"`
                                     /  )  /  )
                                    /__/  /__/
</Pre>
</H3>

</BODY>
</HTML>
